anyio==4.0.0
beautifulsoup4==4.12.2
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
Flask==2.3.3
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.3
pywebio==1.8.2
requests==2.31.0
sniffio==1.3.0
soupsieve==2.5
tornado==6.3.3
ua-parser==0.18.0
urllib3==2.0.4
user-agents==2.2.0
Werkzeug==2.3.7
